<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="css/product.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
<main>
  <% if (prods.length > 0) { %>
    <h1>My Products</h1>
    <p>List of Products</p>
    <div class="grid">
      <% prods.forEach(function(product) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <% if(product.image.length > 0) { %>}
            <img src="<%= product.image %>" alt="A Book">
            <% } else { %>
              <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
            <% } %>
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%= product.price %></h2>
            <p class="product__description"><%= product.description %></p>
          </div>
          <div class="card__actions">
            <form action="/remove-product" method="POST">
              <input type="hidden" name="id" value="<%= product.id %>">
              <button class="btn btn-danger" type="submit">Remove Product</button>
            </form>
          </div>
        </article>
      <% }); %>
    </div>
  <% } else { %>
    <h1>No products</h1>
  <% } %>
</main>
    <!-- <script>
        const btn = document.getElementById('btn')
        btn.addEventListener('click',() => {
            console.log("click")
        })
    </script> -->
</body>

</html>